aniso8601==9.0.1
blinker==1.9.0
click==8.1.7
Flask==3.1.0
Flask-RESTful==0.3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
numpy==2.2.0
pandas==2.2.3
pyaes==1.6.1
pyasn1==0.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
rsa==4.9
six==1.17.0
Telethon==1.38.1
tzdata==2024.2
Werkzeug==3.1.3
