body {
  background-color: #FFFBFF;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
/* #030812 */


.container1{
  filter: invert(1);
}

.black {
  transition: 1s ease-in-out;
  background-color: rgb(0, 0, 0) !important;
  color: var(--main-color);
}

img{
  -webkit-user-drag: none;
}

.white {
  transition: 1s ease-in-out;
  background-color: rgb(255, 255, 255) !important;
}

nav {
  font-family: 'Inter', sans-serif;
}

.navbar {
  background-color: #F1F1F1;
  color: #000000;
  text-align: left;
  transition: 0.3s ease-in-out;
}

#navbarTitle{
  font-size: 3ch;
}


#imglogo {
  width: 150px;
  margin-bottom: 25px !important;
  transition: 1s ease-in-out;
}


.navbar.scrolled {
  margin: 0 !important;
  padding: 0 !important;
  background: rgba(3, 8, 18, 0.8) !important;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5) !important;
  transition: 0.2s ease-in-out;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);

  & #imglogo {
      width: 90px;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
      transition: 0.3s ease-in-out;
  }
}


#sec1 {
  color: #FFFBFF;
  background: linear-gradient(#030812 1%, #02182B 5%); 
   background-color: #02182B;
}

#sec2 {
  background: linear-gradient(#02182B 80%, #030812 100%);
   color: #FFFBFF;
  background-color: #02182B;
}

#sec3{
  color: #FFFBFF;
}

.sec1h1 {
  color: #FCA311;
}

.fullstackpersonalcolor {
  color: #40FFAA;
}

.imgsec1 {
  width: 50px;
  height: auto;
}

.bordersec1 {
  background-color: #042541;
}

.navbarIndex {
  width: 90px !important;
  height: 40px;
}

.nav-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #000000 !important;
  font-size: 20px !important;
  transition: transform 0.1s ease;
}

.nav-link::after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 100%;
  background: #7CB9E8;
  transform: scaleX(0);
  transition: transform 0.5s ease;
  position: absolute;
  left: 0;
}

.nav-link:hover {
  transition: 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transition: 0.5s ease;
}

.nav-link:active {
  color: rgba(255, 255, 255, 0) !important;
  transform: translateY(10px);
  transition: 0.1s ease;

}

.nav-link:active::after {
  transform: translateY(-10px);
  transition: 0.1s ease;
}

#btnind {
  font-size: 20px !important;
  clip-path: polygon(0 0, 100% calc(10% - 12px), 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0 100%);
}

.mgr1 {
  margin-right: 160px !important;
}

.mgr2 {
  margin-right: 70px !important;
}

.mgl1 {
  margin-left: 150px !important;
}

.mgl2 {
  margin-left: 70px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

@keyframes rodar {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.imgLogoIndex {
  animation: rodar 30s linear infinite;
  width: 40%;
}

.imgLogoIndex2 {
  width: 25%;
}

#containerImgs {
  object-fit: cover;
}

.imgsec2 {
  width: 200px !important;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5) !important;
  opacity: 0;
  /* animation: fadeInUp 1s ease-in-out forwards;  */
  /* animacao para resolver o problema nas funcionalidades.tsx */
  /* Adiciona sombra */
}

.fadeInUp:hover {
  width: 220px !important;
  margin: -10px;
  transition: 0.5s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8) !important;
}

.h5section2 {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.fadeInUp:hover+.h5section2 {
  opacity: 1;
  transition: 0.5s ease-in-out;
  transform: translateY(15px);
}

@keyframes fadeInUp {
  from {
      transform: translateY(20px);
      opacity: 0;
  }

  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  width: 200px !important;
  transition: 0.5s ease-in-out;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5) !important;
  opacity: 0;
}

.search-container {
  position: relative;
}

.search-input {
  height: 50px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}


/* responsividade para logo */
@media (max-width: 768px) {
  #imglogo {
      width: 90px;
      margin: 0% !important;
  }
  #navbarTitle{
    font-size: 2ch;
  }

  #navbarLinks{
    display: none;
  }

  .container-fluid{
    justify-content: left !important;
  }

  .navbar.scrolled {
    margin: 0 !important;
    padding: 0 !important;
    background: rgba(3, 8, 18, 0.8) !important;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5) !important;
    transition: 0.2s ease-in-out;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  
    & #imglogo {
        width: 30px;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        transition: 0.3s ease-in-out;
    }
  }
  

}